@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Styles for logo (navbar) */
.logo-text{
  font-weight: bold;
  font-size: 1.2rem;
  background: -webkit-linear-gradient(45deg, #439cfb, #f187fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Adds Quicksand font-family */
.quicksand-ff {
  font-family: Quicksand;
  font-weight: bolder;
}

/* Styles for logo */
.landing-logo {
  font-size: 12rem;
  font-weight: bolder;
  font-family: Quicksand;
  word-wrap: break-word;
  line-height: 10rem;
}

/* Dot background */
.dot-bg {
  background-image: radial-gradient(#FBAB7E 20%, transparent 20%),
      radial-gradient(#E0C3FC 20%, transparent 20%);
  background-color: #fff;
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
}

/* Removes icon inside inpute field of type search */
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.chat-height {
  height: calc(100vh - 200px);
  overflow-y: auto;
}